@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Lalezar&display=swap');

.title_container{
    padding-top: 7%;
    width: 70%;
    font-family: 'Lalezar', cursive;
    background: linear-gradient(154deg, #1c1c1c, #6b6b6b, #cfcfcf, #f1f1f1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    margin-bottom: 150px;
    overflow: hidden;
}

.profile_img{
    border-radius: 80%;
    width: 20%;
    animation: 2s grow;
}

.title_text{
    animation: 3s slidein;
}

.title_subtext{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: 5s slidein;
}

@keyframes slidein {
    from {
      width: 300%;
    }
  
    to {
      width: 100%;
    }
}

@keyframes grow {
    from {
      filter: blur(100px);
    }
  
    to {
      filter: blur(0px);
    }
}